99-Shared/CanonicalSchema/BSBestellingenBeheer/Schema/Minor.Case3.BSBestellingenBeheer.V1.Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="Minor"
    targetNamespace="urn:minor-case3-bsbestellingenbeheer:v1:schema"
    xmlns:tns="urn:minor-case3-bsbestellingenbeheer:v1:schema"
    elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

  <xsd:element name="Bestelling" type="tns:Bestelling"/>

  <xsd:complexType name="Bestelling">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:long" />
      <xsd:element name="Bestelnummer" type="xsd:long"/>
      <xsd:element name="Bestellingsregels" type="tns:BestellingsregelCollection" />
      <xsd:element name="Besteldatum" type="xsd:dateTime" />
      <xsd:element name="Klantnummer" type="xsd:string" />
      <xsd:element name="Status" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="BestellingStatus">
    <xsd:restriction base="xsd:string">     
      <xsd:enumeration value="Nieuw">
        <xsd:annotation>
          <xsd:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Betaald">
        <xsd:annotation>
          <xsd:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Geweigerd">
        <xsd:annotation>
          <xsd:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Goedgekeurd">
        <xsd:annotation>
          <xsd:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Inpakken">
        <xsd:annotation>
          <xsd:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Ingepakt">
        <xsd:annotation>
          <xsd:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Bestellingsregel">
    <xsd:sequence>
      <xsd:element name="ProductID" type="xsd:long" />
      <xsd:element name="Aantal" type="xsd:int" />
      <xsd:element name="Prijs" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BestellingsregelCollection">
    <xsd:sequence>
      <xsd:element name ="Bestellingsregel" type="tns:Bestellingsregel" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BestellingCollection">
    <xsd:sequence>
      <xsd:element name ="Bestelling" type="tns:Bestelling" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
