99-Shared/CanonicalSchema/PcSWinkelen/Contracts/minor-case3-pcswinkelenv1schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:minor-case3-pcswinkelen:v1:schema" elementFormDefault="qualified" targetNamespace="urn:minor-case3-pcswinkelen:v1:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
  <xs:complexType name="BestelProduct">
    <xs:sequence>
      <xs:element name="ProductID" type="xs:int" />
      <xs:element name="Aantal" type="xs:int" />
      <xs:element name="ClientID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BestelProduct" nillable="true" type="tns:BestelProduct" />
  <xs:complexType name="Winkelmand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WinkelmandRegel" nillable="true" type="tns:WinkelmandRegel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Winkelmand" nillable="true" type="tns:Winkelmand" />
  <xs:complexType name="WinkelmandRegel">
    <xs:sequence>
      <xs:element name="Product" nillable="true" xmlns:q1="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" type="q1:Product">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Aantal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WinkelmandRegel" nillable="true" type="tns:WinkelmandRegel" />
</xs:schema>