99-Shared/CanonicalSchema/PcSWinkelen/Contracts/minor-case3-pcswinkelenv1messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:minor-case3-pcswinkelen:v1:messages" elementFormDefault="qualified" targetNamespace="urn:minor-case3-pcswinkelen:v1:messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:minor-case3-pcswinkelen:v1:schema" />
  <xs:complexType name="ToevoegenWinkelmandRequestMessage">
    <xs:sequence>
      <xs:element name="BestelProduct" nillable="true" xmlns:q1="urn:minor-case3-pcswinkelen:v1:schema" type="q1:BestelProduct">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToevoegenWinkelmandRequestMessage" nillable="true" type="tns:ToevoegenWinkelmandRequestMessage" />
  <xs:complexType name="WinkelmandResponseMessage">
    <xs:sequence>
      <xs:element name="Winkelmand" nillable="true" xmlns:q2="urn:minor-case3-pcswinkelen:v1:schema" type="q2:Winkelmand">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WinkelmandResponseMessage" nillable="true" type="tns:WinkelmandResponseMessage" />
  <xs:complexType name="VraagWinkelmandRequestMessage">
    <xs:sequence>
      <xs:element name="ClientID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VraagWinkelmandRequestMessage" nillable="true" type="tns:VraagWinkelmandRequestMessage" />
</xs:schema>