99-Shared/CanonicalSchema/BSBestellingenBeheer/Contracts/leetkantileverbsbestellingenbeheerv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:leet:kantilever:bsbestellingenbeheer:v1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:leet:kantilever:bsbestellingenbeheer:v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:leet:kantilever:bsbestellingenbeheer:v1/Imports">
      <xsd:import namespace="urn:leet:kantilever:bsbestellingenbeheer:v1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:minor-case3-bsbestellingenbeheer:v1:messages" />
      <xsd:import namespace="urn:minor-case3-bsbestellingenbeheer:v1:schema" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBestellingenbeheerService_FindBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:FindBestelling" />
  </wsdl:message>
  <wsdl:message name="IBestellingenbeheerService_FindBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IBestellingenbeheerService_FindAllBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllBestelling" />
  </wsdl:message>
  <wsdl:message name="IBestellingenbeheerService_FindAllBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IBestellingenbeheerService_GetVolgendeOpenBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolgendeOpenBestelling" />
  </wsdl:message>
  <wsdl:message name="IBestellingenbeheerService_GetVolgendeOpenBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolgendeOpenBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IBestellingenbeheerService_CreateBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBestelling" />
  </wsdl:message>
  <wsdl:message name="IBestellingenbeheerService_CreateBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBestellingResponse" />
  </wsdl:message>
  <wsdl:portType name="IBestellingenbeheerService">
    <wsdl:operation name="FindBestelling">
      <wsdl:input wsaw:Action="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/FindBestelling" message="tns:IBestellingenbeheerService_FindBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/FindBestellingResponse" message="tns:IBestellingenbeheerService_FindBestelling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllBestelling">
      <wsdl:input wsaw:Action="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/FindAllBestelling" message="tns:IBestellingenbeheerService_FindAllBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/FindAllBestellingResponse" message="tns:IBestellingenbeheerService_FindAllBestelling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVolgendeOpenBestelling">
      <wsdl:input wsaw:Action="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/GetVolgendeOpenBestelling" message="tns:IBestellingenbeheerService_GetVolgendeOpenBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/GetVolgendeOpenBestellingResponse" message="tns:IBestellingenbeheerService_GetVolgendeOpenBestelling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBestelling">
      <wsdl:input wsaw:Action="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/CreateBestelling" message="tns:IBestellingenbeheerService_CreateBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/CreateBestellingResponse" message="tns:IBestellingenbeheerService_CreateBestelling_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IBestellingenbeheerService" type="tns:IBestellingenbeheerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindBestelling">
      <soap:operation soapAction="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/FindBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllBestelling">
      <soap:operation soapAction="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/FindAllBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVolgendeOpenBestelling">
      <soap:operation soapAction="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/GetVolgendeOpenBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBestelling">
      <soap:operation soapAction="urn:leet:kantilever:bsbestellingenbeheer:v1/IBestellingenbeheerService/CreateBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>