99-Shared/CanonicalSchema/BSBestellingenBeheer/Contracts/minor-case3-bsbestellingenbeheerv1schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:minor-case3-bsbestellingenbeheer:v1:schema" elementFormDefault="qualified" targetNamespace="urn:minor-case3-bsbestellingenbeheer:v1:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bestelling">
    <xs:sequence>
      <xs:element name="ID" type="xs:long" />
      <xs:element name="Bestelnummer" type="xs:long" />
      <xs:element name="Bestellingsregels" nillable="true" type="tns:BestellingsregelCollection">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Besteldatum" type="xs:dateTime" />
      <xs:element name="KlantID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bestelling" nillable="true" type="tns:Bestelling" />
  <xs:complexType name="BestellingsregelCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bestellingsregel" nillable="true" type="tns:Bestellingsregel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BestellingsregelCollection" nillable="true" type="tns:BestellingsregelCollection" />
  <xs:complexType name="Bestellingsregel">
    <xs:sequence>
      <xs:element name="ProductID" type="xs:long" />
      <xs:element name="Aantal" type="xs:int" />
      <xs:element name="Prijs" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bestellingsregel" nillable="true" type="tns:Bestellingsregel" />
  <xs:complexType name="BestellingCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bestelling" nillable="true" type="tns:Bestelling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BestellingCollection" nillable="true" type="tns:BestellingCollection" />
</xs:schema>