99-Shared/CanonicalSchema/PcSBestellen/Contracts/leetkantileverpcsbestellenv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:leet:kantilever:pcsbestellen:v1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:leet:kantilever:pcsbestellen:v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:leet:kantilever:pcsbestellen:v1/Imports">
      <xsd:import namespace="urn:leet:kantilever:pcsbestellen:v1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:minor-case3-pcsbestellen:v1:messages" />
      <xsd:import namespace="urn:minor-case3-pcsbestellen:v1:schema" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:categorie:v1" />
      <xsd:import namespace="urn:minor-case3-bsklantbeheer:v1:schema" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBestellenService_FindVolgendeOpenBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:FindVolgendeOpenBestelling" />
  </wsdl:message>
  <wsdl:message name="IBestellenService_FindVolgendeOpenBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindVolgendeOpenBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IBestellenService_FindAllBestellingen_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllBestellingen" />
  </wsdl:message>
  <wsdl:message name="IBestellenService_FindAllBestellingen_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllBestellingenResponse" />
  </wsdl:message>
  <wsdl:message name="IBestellenService_FindBestellingByID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindBestellingByID" />
  </wsdl:message>
  <wsdl:message name="IBestellenService_FindBestellingByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindBestellingByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBestellenService_CreateBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBestelling" />
  </wsdl:message>
  <wsdl:message name="IBestellenService_CreateBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBestellingResponse" />
  </wsdl:message>
  <wsdl:portType name="IBestellenService">
    <wsdl:operation name="FindVolgendeOpenBestelling">
      <wsdl:input wsaw:Action="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindVolgendeOpenBestelling" message="tns:IBestellenService_FindVolgendeOpenBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindVolgendeOpenBestellingResponse" message="tns:IBestellenService_FindVolgendeOpenBestelling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllBestellingen">
      <wsdl:input wsaw:Action="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindAllBestellingen" message="tns:IBestellenService_FindAllBestellingen_InputMessage" />
      <wsdl:output wsaw:Action="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindAllBestellingenResponse" message="tns:IBestellenService_FindAllBestellingen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindBestellingByID">
      <wsdl:input wsaw:Action="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindBestellingByID" message="tns:IBestellenService_FindBestellingByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindBestellingByIDResponse" message="tns:IBestellenService_FindBestellingByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBestelling">
      <wsdl:input wsaw:Action="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/CreateBestelling" message="tns:IBestellenService_CreateBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/CreateBestellingResponse" message="tns:IBestellenService_CreateBestelling_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IBestellenService" type="tns:IBestellenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindVolgendeOpenBestelling">
      <soap:operation soapAction="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindVolgendeOpenBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllBestellingen">
      <soap:operation soapAction="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindAllBestellingen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBestellingByID">
      <soap:operation soapAction="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/FindBestellingByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBestelling">
      <soap:operation soapAction="urn:leet:kantilever:pcsbestellen:v1/IBestellenService/CreateBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>